<template>
    <div>
        <Form ref="form" @submitted="$emit('submitted')" />
    </div>
</template>

<script>

    import Form from './Form.vue';

    export default {
        components: {Form},

        data() {
            return {

            };
        },

        methods: {
            submit() {
                this.$refs['form'].submit();
            }
        }
    }

</script>